body {
  background-color: #121116;
  color: white;
}


#nav-bar {
  box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}


#hero {
  width: 100%;
  height: 100vh;
  margin-top: -51px;
  margin-bottom: 51px;
  background: url(webste/6.png) top center fixed;
  background-size: cover;
}
#hero p {
  color: #fff;
  margin-bottom: -2px;
  font-size: 18px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #adff2f;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 148px;
}

#about {
  width: 100%;
  height: 83vh;
  margin-top: -51px;
  background-color: #121116;

  background-size: cover;
  color: white;
}

@media screen and (max-width:991px) {
  #about {
    height: 149vh;
  }

}

@media screen and (max-width:480px) {
  #resume.resume {
    height: 200vh;
  }

  #about {
    height: 149vh;
  }

}









#skills {
  width: 100%;
    height: 80vh;
    background-color: #121116;
    color: white;
    padding: 25px 100px;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin: 33px 0px;
}

div.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #000000;
  text-align: center;
  white-space: nowrap;
  background-color: #91ff00;
  transition: width .6s ease;
  font-weight: bold;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #121116;
  border: 2px solid #91ff00;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #91ff00;
  position: relative;
}

.skillstitle {
  font-size: 1.2rem;
  text-align: left;
  position: relative;
  bottom: -22px;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #91ff00;
  bottom: 0;
  left: 0;
}

.image {
  box-shadow: 2px solid red;
}

/* skills section  */

#resume {
  width: 100%;
  height: 153vh;
  background-color: #121116;
  background-size: cover;
  color: white;
}



section #portfolio{
  background-color: #121116;
}


.section-bg {
  background-color: transparent;
}

section {
  padding: 25px 69px;
  overflow: hidden;
}

.progress-bar-wrap {
  color: black;
}

#main {
  margin-left: 0;
}

.logo {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 4px 8px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #91ff00;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fefeff;
  margin-bottom: 10px;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff7f7;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #91ff00;
  color: #000000;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}



/* media quireiessss */



/* servicess */

.services-section {
  padding: 50px;
  text-align: center;
}
section.services-section-2 {
  padding: 50px;
  text-align: center;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  grid-gap: 39px;
  justify-items: center;

}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 39px;
  justify-items: center;

}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}
.social-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

#services {
  background-color: #121116;
}

#portfolio {
  background-color: #121116;
}

.portfolio {
  background-color: #121116;
  text-align: center;
  color: white;
}
.social {
  background-color: #121116;
  text-align: center;
  color: white;
}
.service {
  background-color: #121116;
  border: 2px solid #91ff00;
  text-align: center;
  color: white;
  
}

.services-section h2 {
  bottom: 20px;
  position: relative;
  color: #ffffff;
  left: 17px;
  font-size: 1.9rem;
}

button.btn {
  padding: 3px 128px;
  background-color: #fdc305;
  color: rgb(0, 0, 0);
}

.portfolio img {
  max-width: 100%;
  height: auto;
}
.social img {
  max-width: 100%;
  height: auto;
  border-radius: 200px;
}
.service img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 30px;
}

.service h3 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #ffffff;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}



/* glowww */

.portfolio img {
  transition: 0.2s;

}

#simg {
  margin-bottom: 20px;


}

.portfolio img:hover {
  transform: scale(1.3);
  transition: 0.3s;
  cursor: pointer;
  
}

#social-t,
#logo-t,
#Thumb-t
{
  color: rgb(173 255 47);
    margin-top: 37px;
    margin-bottom: 39px;
    border: 2px solid greenyellow;
    position: relative;
    top: auto;
    bottom: auto;
    
}





/* teamsection */
#team {
  background-color: #121116;
}

.team-card {
  /* border: 2px solid #91ff00; */
  text-align: center;
  color: #e9ecef;
}

.hi{
  text-align: center;
  color: white;
}
#Hire{
  background-color: #121116;

}

#contact{
  background-color: #121116;
  color: white;
  height: 24vh;
  border-top: 2px solid white;
}
#contact h1{
text-align: center;
font-size: 1.8rem;
position: relative;
left: 17px;
}

ul.contact > li{
  text-align: center;
}
ul li {
  list-style: none;
}


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #91ff00;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top:hover {
  background: rgb(26, 23, 23);
}

ul.social > li > a{
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  background-color: #222222;
  color: #fff;
  margin: 0 3px 3px 0;
}
ul.social > li > a:hover{
  background-color: greenyellow;
  color: #222222;
  transform: scale(1.2);
  transition: 0.2s;
}
footer > p{
  position: relative;
    bottom: 125px;
    text-align: center;
}
.social{
  background-color: #121116;
    text-align: center;
    color: white;
    position: relative;
    right: 18px;
}